  :root {
    --primary-color: rgb(254, 0, 0); /* try #212121 also for dark mode */
    --background-color: #7c7c7c;
    --font: sans-serif;
    --card-color: #9c9c9c;
    --card-color-hover: #d0d0d0;

  }
  
  * {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    height: 50px;
  } 

  body {
    background: var(--background-color) ;
    font-family: var(--font);
    justify-content: center;
  }

  /* homepage timeline stuff */

  .grid_container {
    display: inline-grid;
    grid-template-columns: 200px 60px 60px 60px 60px 60px 60px;
  } /* thing for keeping multiple rows of satellites */

  .years {
    background: var(--background-color);
    margin: 0 10px;
  } /* row of years */
  
  .timeline {
    background: var(--background-color);
    margin: 0 10px;
  }


  .outer {
    border-right: 2px solid white;
  }
  
  .cardtext {
      display: none;
      padding: 10px;
      margin: -70px -10px;
      padding: 0px 60px;
  }
  
  
  .card:hover > .cardtext {
      display: block;
  }
  

  .year {
    position: relative;
    margin: 0 20px 0px 20px;
    padding: 65px 10px ;
    border-radius: 8px;
    max-width: 400px;
    font-size: 20px;
    height: 20px;
  }
  
 
  .title {
    color: white;
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .card {
    position: absolute;
    margin: -10px 0px 0px 0px;  /* this is for changing space between cards */
    padding: 10px;
    background: var(--card-color);
    color: rgb(255, 255, 255);
    border-radius: 16px;

  }
  .card:hover {
    background: var(--card-color-hover);
    width: 300px;
    min-height: 200px !important;

  }
  .title_year {
    color: white;
    position: relative;
  }


  /* Timeline dot  */
  .title_year::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    right: -36.5px;
  }


  
  /* SATPROG stuff */
  .timeline_satprog {
    background: var(--background-color);
    margin: 10px 80px;
  }

  .outer_satprog {
    border-left: 2px solid white;
  }

  .card_satprog {
    position: relative;
    margin: 0 30px 20px 20px;  /* this is for changing space between cards */
    padding: 0px 30px ;
    background: var(--card-color);
    color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 150px;
    height: 37px;

  }

  .card_satprog_mention {
    position: relative;
    margin: 0 30px 20px 20px;  /* this is for changing space between cards */
    padding: 0px 30px ;
    color: rgb(255, 255, 255);
    width: 150px;



  }


  .year_satprog{
      position: relative;
      top: 10px;
      right: 100px;
  }


  .title_satprog {
    color: white;
    position: relative;
    top: -10px;
  }

  .title_satprog_mention {
    color: rgb(190, 190, 190);
    position: relative;
    top: -10px;
  }
  /* Timeline dot  */
  .title_satprog::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -59px;
    border: 3px solid white;
  }

  .title_satprog_mention::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -59px;
    border: 3px solid white;
  }

  .expandedview {
    background-color: lightgray;
    position: absolute;
    width: 500px;
    height: 500px;
    right: -900px;
    top: 20px;
    border-radius: 16px;
    padding: 20px;
    display: none;

  }
  .card_satprog:hover > .expandedview {
    display: block;
    
  }


