h1 {
    color: #0ff1ce;
}
header {
    width: 100%
}
:root {
    --primary-color: rgb(254, 0, 0); /* try #212121 also for dark mode */
    --background-color: #7c7c7c;
    --font: sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  

  
  body {
    background: var(--background-color);
    font-family: var(--font);
    justify-content: center;
  }
  .grid_container {
    display: inline-grid;
    grid-template-columns: 200px 60px 60px;
  }

  .years {
    background: var(--background-color);
    margin: 10px;
  }
  
  .timeline {
    background: var(--background-color);
    margin: 10px;
  }

  .outer {
    border-right: 2px solid white;
  }
  
  .cardtext {
      opacity: 0;
      padding: 10px;
      margin: -70px -10px;
      padding: 0px 60px;
  }
  
  
  .cardtext:hover {
      opacity: 1;
  }
  
  


  .year {
    position: relative;
    margin: 0 20px 20px 20px;
    padding: 30px 10px ;
    border-radius: 8px;
    max-width: 400px;
  }
  
 
  .title {
    color: white;
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .card {
    position: relative;
    margin: 0 0px 0px 0px;  /* this is for changing space between cards */
    padding: 10px;
    background: rgb(180, 180, 180);
    color: rgb(255, 255, 255);
    border-radius: 16px;

  }

  .card:hover {
    background: rgb(180, 180, 180);
    width: 300px
  }
  .title_year {
    color: white;
    position: relative;
  }
  /* Timeline dot  */
  .title_year::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    right: -39px;
    border: 3px solid white;
  }