  :root {
    --primary-color: rgb(254, 0, 0); /* try #212121 also for dark mode */
    --background-color: #7c7c7c;
    --font: sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%
  } 

  body {
    background: var(--background-color);
    font-family: var(--font);
    justify-content: center;
  }

  /* homepage timeline stuff */

  .grid_container {
    display: inline-grid;
    grid-template-columns: 200px 60px 60px;
  } /* thing for keeping multiple rows of satellites */

  .years {
    background: var(--background-color);
    margin: 10px;
  } /* row of years */
  
  .timeline {
    background: var(--background-color);
    margin: 10px;
  }


  .outer {
    border-right: 2px solid white;
  }
  
  .cardtext {
      opacity: 0;
      padding: 10px;
      margin: -70px -10px;
      padding: 0px 60px;
  }
  
  
  .cardtext:hover {
      opacity: 1;
  }
  

  .year {
    position: relative;
    margin: 0 20px 20px 20px;
    padding: 30px 10px ;
    border-radius: 8px;
    max-width: 400px;
  }
  
 
  .title {
    color: white;
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .card {
    position: relative;
    margin: 0 0px 0px 0px;  /* this is for changing space between cards */
    padding: 10px;
    background: rgb(180, 180, 180);
    color: rgb(255, 255, 255);
    border-radius: 16px;

  }
  .card:hover {
    background: rgb(180, 180, 180);
    width: 300px
  }
  .title_year {
    color: white;
    position: relative;
  }


  /* Timeline dot  */
  .title_year::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    right: -39px;
    border: 3px solid white;
  }


  
  /* SATPROG stuff */
  .timeline_satprog {
    background: var(--background-color);
    margin: 10px 80px;
  }

  .outer_satprog {
    border-left: 2px solid white;
  }

  .card_satprog {
    position: relative;
    margin: 0 30px 20px 20px;  /* this is for changing space between cards */
    padding: 0px 30px ;
    background: rgb(180, 180, 180);
    color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 150px;

  }

  .card_satprog_mention {
    position: relative;
    margin: 0 30px 20px 20px;  /* this is for changing space between cards */
    padding: 0px 30px ;
    color: rgb(255, 255, 255);
    width: 150px;



  }


  .year_satprog{
      position: relative;
      top: 10px;
      right: 100px;
  }


  .title_satprog {
    color: white;
    position: relative;
    top: -10px;
  }

  .title_satprog_mention {
    color: rgb(190, 190, 190);
    position: relative;
    top: -10px;
  }
  /* Timeline dot  */
  .title_satprog::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -59px;
    border: 3px solid white;
  }

  .title_satprog_mention::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -59px;
    border: 3px solid white;
  }
